@model DeliveryManagement.ViewModels.Catalog.AllProductViewModel

<div>
    <a asp-controller="Catalog" asp-action="Create">Добавить</a>
</div>
<section>

    <div class="container-fluid my-5">
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-11" style="font-size: 40px; font-weight: bold;">
                Рекомендации
            </div>
        </div>

        @foreach (var product in Model.Products)
        {
            <div class="row">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-2 col-md-3">
                            <a asp-controller="Catalog" asp-action="Get" asp-route-id="@product.Id" style="color: orange;">
                                <div class="card">
                                    <img src="data:image/png;base64,@product.ImageBase64" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">@product.Name</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-1">
                    </div>
                </div>
            </div>
        }
</section>
