@using DeliveryManagement.ViewModels.Account;
@model RegisterViewModel

<h2>Регистрация нового пользователя</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <label asp-for="AsCompany"></label><br />
        <input id="AsCompanyForm" asp-for="AsCompany" />
    </div>
    <div id="CompanyNameForm" style="display: none;">
        <label asp-for="CompanyName"></label><br />
        <input asp-for="CompanyName" />
    </div>
    <div id="CompanyDescriptionForm" style="display: none;">
        <label asp-for="CompanyDescription"></label><br />
        <input asp-for="CompanyDescription" />
    </div>
    <br />
    <div>
        <input type="submit" value="Регистрация" />
    </div>
    
</form>

<script>
    document.getElementById("AsCompanyForm").addEventListener('input', function(e) {
      
        const displayValue = this.checked == true ? '' : 'none'
        console.log(displayValue);
        document.getElementById("CompanyNameForm").style.display = displayValue;
        document.getElementById("CompanyDescriptionForm").style.display = displayValue;

    });

  
   
</script>