@import "tailwindcss";

@layer base {
    body {
        @apply h-full m-0 p-0
    }

    html {
        @apply h-full m-0 p-0 min-h-screen
    }
}


.w-8xl {
    width: 1440px
}


button {
    cursor: pointer;
}

.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 2000ms infinite;
    animation: ellipsis steps(4, end) 2000ms infinite;
    content: "\2026";
    width: 0px;
    box-sizing: border-box;
}

@keyframes ellipsis {
    to {
        width: 0.8em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 0.8em;
    }
}
